.Landing {
  background: linear-gradient(262.72deg, #539CC9 22.55%, #2C80B3 47.86%, #0073B6 95.84%);
  color: white;
  padding: 0;
}

.Landing__People {
  & img {
    max-width: 100%;
    transform: rotate(180deg);
  }
}

.Landing__Location {
  & img {
    max-height: 25px;
  }
}
