@import "./constants/sizes";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Text__Button {
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 0;

  @media only screen and (max-width: $screen-750) {
    font-size: 12px;
  }
}

.Text__Title {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;

  @media only screen and (max-width: $screen-600) {
    font-size: 24px;
  }
}

.Text__Paragraph {
  font-family: Nunito, Montserrat, sans-serif;
  font-size: 18px;

  @media only screen and (max-width: $screen-600) {
    font-size: 16px;
  }
}

.Text__ParagraphSmall {
  font-family: Nunito, Montserrat, sans-serif;
  font-size: 16px;

  @media only screen and (max-width: $screen-600) {
    font-size: 14px;
  }
}

code {
}
